.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.header {
  margin: 0;
  font-size: 40px;
}

.explanation {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}

.home-button {
  background: var(--brand-primary);
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}

.err-digit {
  display: inline-block;
  position: relative;
  animation-name: errDigit;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: translateY(5px);
}

@keyframes err-digit {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }
  
  100% {
    transform: translateY(5px);
  }
}