
/* stylelint-disable import-notation */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

:root {
  // /* Brand Colors */
  // --brand-primary: #ff3535;
  
  // // --brand-primary-dark: #ca2e2e;

  // /* UI colors */
  // --ui-text-not-important: #8f8f8f;
  // --ui-slight-highlight: #ededed;
  // --ui-text-selection-color: white;
  // --ui-text-selection-bg: #ff6767;
  // --ui-text-regular-color: black;
  // --ui-day-box-color: white;
  // --ui-tooltip-bg: #4a4a4a;
  // --ui-divider-color: #d9d9d9;
  // --ui-today-box-glow: #ff353548;
  // --ui-header-color: #262c30;
  // --ui-footer-color: #ff3535;
  // --ui-footer-second-color: #ff3535;
  // --ui-slight-highlight-hover: #dbdbdb;
  // --ui-page-background: white;
  // --ui-page-text-color: black;

  /* Fonts */
  --ui-font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  .logo {
    /* stylelint-disable-next-line color-function-notation */
    text-shadow: 1px 1px 10px rgba(255, 0, 0, 40%);
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--on-background);
  margin: 0;
  font-family: var(--ui-font-family);
  width: 100vw;
  height: 100vh;
}

::selection {
  color: var(--text-selection-foreground);
  background: var(--text-selection-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    // --ui-day-box-color: #1b1619;
    // --ui-text-not-important: #f4f4f4;
    // --ui-divider-color: #484848;
    // --ui-header-color: white;
    // --ui-footer-color: transparent;
    // --ui-footer-second-color: #481515;
    // --ui-text-regular-color: white;
    // --ui-page-background: #1b1619;
    // --ui-page-text-color: white;
    // --ui-slight-highlight: #292929;
    // --ui-slight-highlight-hover: #353535;
  }
}

#short-desc {
  margin-left: 20px;
  margin-top: 0;
  font-weight: 500;
  color: var(--on-background-slight);
}

#letter-meanings {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: var(--on-background-slight);
  font-weight: bold;
}