.container {
    display: grid;
    background-color: var(--ui-page-background);
    grid-template-rows: 1fr 1fr;
    z-index: 999999;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 7px solid var(--brand-primary);
    border-radius: 25px;
    font-size: 0.85rem;
    animation: slide-in 0.5s forwards;
}

@media screen and (max-width: 709px) {
    .container {
        display: flex;
        border: 2px solid var(--brand-primary);
        flex-direction: column;
    }

    .container > * {
        text-align: center
    }

    .header {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: auto;
    }
}

.header {
    display: inline-flex;
}

.desc {
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.consent-btn {
  color: white;
  background: var(--brand-primary);
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--ui-font-family);
  width: 120px;
  transition: transform 120ms;
}

.consent-btn:hover {
  transform: scale(1.05);
}
