@use "sass:color";
@use "sass:map";
@use "../../styles/themes.scss";
@use "../../styles/theme-mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.content {
  flex-grow: 1;
}

/* Footer  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background: linear-gradient(var(--ui-footer-color), var(--ui-footer-second-color)); */

  background: var(--primary);

  @include theme-mixins.dark {
    $page-background: map.get(themes.$themes, "dark", "background");
    $footer-background: color.adjust(map.get(themes.$themes, "dark", "primary-variant"), $alpha: -0.6);

    background: linear-gradient($page-background, $footer-background);
  }

  width: 100vw;
  height: 300px;
  padding-bottom: 20px;
}

.link {
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 10px;
  transition: 70ms;
}

.link:hover {
  background: var(--primary-variant);
}

.footer-links {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

.footer-header {
  color: white;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10000;
  width: 100vw;
  height: 130px;
}

.logo {
  font-family: Montserrat, sans-serif;
  z-index: 10000;
  color: var(--primary);
  margin-left: 20px;
  user-select: none;
}

.logo-link {
  text-decoration: none;
}

.settings-btn {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 50px;
  user-select: none;
  outline: none;
  background: none;
  border: none;
  color: var(--on-background);
  font-size: xx-large;
  cursor: pointer;
}

.settings-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms;
  border-radius: 100%;
  /* stylelint-disable-next-line color-function-notation */
  background: rgba(0, 0, 0, 13.7%);
  z-index: -1;
}

.settings-btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

/* Preferences */
.preferences-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0000004e;
  z-index: 99999;
  transition: opacity 200ms;
}

.preferences {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms;
  width: 80%;
  height: 65%;
  padding: 30px;
  background: var(--background);
  border-radius: 25px;
  box-shadow: 1px 1px 25px color.change($color: black, $alpha: 0.05);
}

.preferences h1 {
  margin: 0;
}

.preferences-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.preferences-bottom-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: baseline;
  gap: 10px;
  padding-top: 10px;
}

.preferences-bottom-btn {
  color: white;
  background: var(--primary);
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--ui-font-family);
  width: 120px;
  transition: transform 120ms;
}

.preferences-bottom-btn:first-child {
  /* Temp */
  background: var(--tooltip-background);
  color: white;
}



.preferences-submit:hover {
  transform: scale(1.05);
}

.diet-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.diet-chip {
  background: var(--brand-primary);
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  user-select: none;
}

.theme-select-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 40px;
  background-color: var(--surface);
  color: var(--on-surface);
  font-weight: bold;
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 120ms;
  padding: 5px 20px;
}

.theme-select-block:hover {
  /* TODO: add sass color function */
  background-color: var(--surface-variant);
}

.default-theme {
  color: var(--on-background-slight);
}

.theme-select {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.theme-select-block input[type="radio"] {
  appearance: none;
  background-color: white;
  margin: 0;
  border: 4px solid transparent;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.theme-select-block input[type="radio"]:checked {
  border-color: var(--primary);
}

@media screen and (max-width: 700px) {
  .preferences {
    box-sizing: border-box;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .theme-select-block {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 999px) {
  .preferences {
    width: 55%;
  }
}