.container {
    position: relative;
    display: flex;
    gap: 8px;
    background-color: var(--surface);
    padding: 8px;
    border-radius: 100px;
    overflow: hidden;
    width: 210px;

    div {
        flex: 1;
        z-index: 2;
        cursor: pointer;
        user-select: none;
        text-align: center;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 1;
        background-color: var(--primary);
        transition: 200ms;
    }
}