@use "../../styles/theme-mixins.scss";
@use "../../styles/themes.scss";
@use "sass:map";

.container {
    $selection-width: 118px;
    $padding: 8px;

    position: relative;
    display: flex;
    background-color: var(--surface);
    padding: $padding;
    border-radius: 100px;
    overflow: hidden;
    

    div {
        width: $selection-width;
        z-index: 2;
        cursor: pointer;
        user-select: none;
        text-align: center;

        span {
            color: var(--on-surface);
            transition: 100ms color;
        }

        &[data-selected="true"] {
            span {
                color: var(--on-primary);
            }
        }
    }

    .selection {
        position: absolute;
        top: 0;
        left: 0;
        width: $selection-width + $padding;
        border-radius: 8px;
        height: 100%;
        z-index: 1;
        background-color: var(--primary);
        transition: 160ms left ease-in;
    }
}